server:
  http_listen_port: 9080
  grpc_listen_port: 0

clients:
  - url: http://loki:3100/loki/api/v1/push

positions:
  filename: /tmp/positions.yaml

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock

    pipeline_stages:
      - docker: {}

    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        target_label: 'container_name'

      - source_labels: ['__meta_docker_image']
        target_label: 'image'

      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: 'service'

      - source_labels: ['__meta_docker_container_label_com_docker_compose_project']
        target_label: 'compose_project'
